@model TabloidMVC.Models.ViewModels.UserTypeEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <input asp-for="UserProfile.Id" type="hidden" class="form-control" />
                    <span asp-validation-for="UserProfile.Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="UserProfile.FullName" class="control-label"></label>*@
                    <input asp-for="UserProfile.FullName" hidden class="form-control"  class="form-control"  />
                    <span asp-validation-for="UserProfile.FullName" class="text-danger"></span>
                </div>

                <div class="form-group">
                   @* <label asp-for="UserProfile.DisplayName" display="hidden" class="control-label"></label>*@
                    <input asp-for="UserProfile.DisplayName" hidden class="form-control"  />
                    <span asp-validation-for="UserProfile.DisplayName" display="hidden" class="text-danger"></span>
                </div>
                <div class="form-group">
                @*<label asp-for="UserProfile.FirstName" display="hidden" class="control-label"></label>*@
                <input asp-for="UserProfile.FirstName" hidden class="form-control"  />
                <span asp-validation-for="UserProfile.FirstName" display="hidden" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="UserProfile.LastName" display="hidden" class="control-label"></label>*@
                <input asp-for="UserProfile.LastName" hidden class="form-control"  />
                <span asp-validation-for="UserProfile.LastName" display="hidden" class="text-danger"></span>
            </div>

                <div class="form-group">
                @*<label asp-for="UserProfile.Email" display="hidden" class="control-label"></label>*@
                <input asp-for="UserProfile.Email" hidden class="form-control"  />
                <span asp-validation-for="UserProfile.Email" display="hidden" class="text-danger"></span>
            </div>
            <div class="form-group">
               @* <label asp-for="UserProfile.CreateDateTime" display="hidden" class="control-label"></label>*@
                <input asp-for="UserProfile.CreateDateTime" hidden class="form-control"  />
                <span asp-validation-for="UserProfile.CreateDateTime" display="hidden" class="text-danger"></span>
            </div>
            <div class="form-group" >
               @* <label asp-for="UserProfile.ImageLocation"  display="hidden" class="control-label"></label>*@
                <input asp-for="UserProfile.ImageLocation" hidden class="form-control"  />
                <span asp-validation-for="UserProfile.ImageLocation" display="hidden" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="UserProfile.UserTypeId" display="hidden" class="control-label"></label>
                    <select asp-for="UserProfile.UserTypeId" class="form-control">

                        @foreach (var userType in Model.UserTypeOptions)
                        {
                            <option value="@userType.Id">@userType.Name</option>
                        }
                    </select>
                    <span asp-validation-for="UserProfile.UserTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a value="CANCEL" asp-action="Index" class="btn btn-light" /> |
                </div>
            </form>
</div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
